<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <div class="body">
        <div class="details-page">
            <div class="details-1">
                <h3><%= blogs.title %></h3>
            </div>
            <div class="details-2">
                <p><%= blogs.body %></p>
            </div>
            <div class="details-3">
                <a data-doc="<%= blogs._id %>" class="delete">Delete</a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const delBtn = document.querySelector('a.delete');

        delBtn.addEventListener('click', (e) => {
            const sendUrl  = `/blogs/${delBtn.dataset.doc}`;

            fetch(sendUrl, {
                method: 'DELETE',
            })

            .then(response => response.json())
            .then((data)=>{
                window.location.href = data.redirect;
            })
            .catch((err)=>{
                console.log(err);
            })
        });
    </script>

</body>

</html>