<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/nav.ejs') %>
    <div class="body">
        <div class="flex-container">
            <div class="container-1">
                <nav class="con-header">
                    <h2>Full Stack Web Developer</h2>
                </nav>
            </div>
            <div class="container-2">
                <div class="con-2-header">
                    <h3>Zhyryll Ryj C. Posadas</h3>
                </div>
                <div class="con-2-body">
                    <!-- <div class="blog-style"> -->
                        <% if(blogs.length > 0) { %>
                            <% blogs.forEach(blog => { %>
                                <a href="/blogs/<%= blog._id %>">
                                    <!-- pwede mo ring ifetch yung iba properities or columns na meron yung documents-->
                                    <!-- <h3>ID: <%= blog._id %></h3> -->
                                    <h3><%= blog.title %></h3>
                                    <p><%= blog.snippet %></p>
                                </a>
                            
                            <% }) %>
                        <% }else { %>
                                <h2>This guy just dont have it :(</h2>
                        <% } %> 
                    <!-- </div> -->
                </div>
                
            </div>
        </div>
    </div>
    
     <%- include('../partials/footer.ejs') %>
</body>
</html>