<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <div class="body">
        <div class="details-page">
            <div class="details-1">
                <h3><%= blogs.title %></h3>
            </div>
            <div class="details-2">
                <p><%= blogs.body %></p>
            </div>
        </div>
    </div>



    <%- include('./partials/footer.ejs') %>

</body>

</html>